[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
autopep8 = "*"
marshmallow = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
parsel = "*"
selenium = "*"
webdriver-manager = "*"
requests = "*"
gevent = "*"
flask-compress = "*"

[dev-packages]

[requires]
python_version = "3.10"
